In [1]:
import numpy as np
import pandas as pd

In [4]:
df_2008 = pd.read_stata('ca08a_1.0p_EN/ca08a_1.0p_EN.dta')
df_2008.head()

,nomem_encr,nohouse_encr,ca08a_m,ca08a001,ca08a002,ca08a003,ca08a004,ca08a005,ca08a006,ca08a007,...,ca08a066,ca08a067,ca08a068,ca08a069,ca08a070,ca08a071,ca08a072,ca08a073,ca08a074,ca08a075
0,800033.0,583404.0,200806.0,no,no,living-at-home child,yes,no,no,no,...,certainly not,certainly yes,3,3,3,06-06-08,15:10:42,06-06-08,15:14:22,220.0
1,800042.0,500277.0,200806.0,yes,yes,married partner,yes,no,yes,no,...,certainly not,4,certainly not,3,3,19-06-08,12:52:15,19-06-08,12:54:52,157.0
2,800057.0,580532.0,200806.0,yes,no,unmarried partner,yes,no,no,no,...,2,4,2,2,3,10-06-08,14:01:28,10-06-08,14:03:14,106.0
3,800076.0,578048.0,200806.0,yes,no,family member or boarder,yes,no,no,no,...,4,3,3,2,3,20-06-08,18:28:19,20-06-08,18:30:02,103.0
4,800119.0,537783.0,200806.0,yes,no,married partner,no,no,no,no,...,2,3,3,4,3,19-06-08,17:17:36,19-06-08,17:18:28,52.0